# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project
# macos

*.DS_Store
run/resources
run/.fabric
run/emi.json
run/options.txt
run/usercache.json
run/mods
run/saves
run/screenshots
run/config
run/crash-reports
run/data
run/logs
run/eula.txt
run/server.properties
run/ops.json
run/whitelist.json
run/banned-ips.json
run/banned-players.json
run/world
run/backups
run/resourcepacks/Not CoreAscension Gui pack
server_run/
# fabric

src/main/generated
# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr