# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/.fabric
run/config
run/crash-reports
run/data
run/logs
run/mods
run/resources
run/saves
run/options.txt
run/usercache.json

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
/src/main/generated
src/main/generated/.cache/acb8ad2d7ecee7c9af0fcf362f2f978602da0126
src/main/generated/.cache
